menu "mongoose library support"

config MONGOOSE
	bool "mongoose web library"

if MONGOOSE

config MONGOOSE_VERBOSE
	bool "Make zcbor code print messages"

# # config ACPI_DSDT_SUPPORT
# # 	bool  "Build source code for DSDT ACPICA support"
# # 	default y if PCIE
# # 	help
# # 	  Build source code for DSDT support

endif #MONGOOSE

endmenu
